Source: kong-docker-compose
Section: devel
Maintainer: Devops <devops@avature.net>
Standards-Version: 4.0.0
Homepage: Devops
Build-Depends: debhelper (>= 9),
               dh-exec,
               
Package: kong-docker-compose
Architecture: all
Depends:
Pre-Depends: dpkg (>= 1.18), 
Description: Docker compose to run Kong within Avature

Package: kong-docker-compose-dev
Architecture: all
Depends: kong-docker-compose
Pre-Depends: dpkg (>= 1.18), 
Description: Docker compose to run Kong within Avature (development files)
